<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
<title>EcoCircular | Contact</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script src="js/jquery.js" type="text/javascript"></script>
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="#">
        <h1>{% block header %}<a href="home.html"><span>Eco</span>Circular<br />
          <small>Use. Recycle. Reuse.</small></a>{% endblock %}</h1>
      </div>
      <div class="clr"></div>
      <div class="header_text_bg">
        <div class="menu">
          <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'services' %}" >Services</a></li>
              <li><a href="{% url 'about' %}"> About Us </a></li>
              <li><a href="{% url 'contact' %}" class="active"> Contact Us</a></li>
          </ul>
        </div>
        <div class="search">
          <form id="form1" name="form1" method="post" action="#">
            <span>
            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
            </span>
            <input name="b" type="image" src="{% static 'images/search.gif' %}" class="button" />
          </form>
        </div>
        <div class="clr"></div>
        <img src="{% static 'images/environment-7412966_1280.png' %}" alt="" width="356" height="236" />
        <div class="header_text_bg_resize">
{#          <h2> Contact Us</h2>#}
          <h2>Welcome to EcoCircular, where environmental stewardship meets expert consultancy.</h2>
          <p><a href="#">Read more</a></p>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="left">
        <h2> Contact <span>Us</span> </h2>
        <p>316 Upperhill Chambers, 2nd Ngong Avenue, Off Ngong Road, P.O. Box 10660 – 00100. </p>
          <p>Email: ecocircular@gmail.com</p>
          <p>Tel: 0713250319</p>
        <p><a href="#">Read more | Comments (5)</a></p>
        <h2><span>Message</span> Us <br />
        </h2>
        <form action="#" method="post" id="contactform">
          <ol>
            <li>
              <label for="name">Your Name*</label>
              <input id="name" name="name" class="text" />
            </li>
            <li>
              <label for="email">E-Mail*</label>
              <input id="email" name="email" class="text" />
            </li>
{#            <li>#}
{#              <label for="company">Website</label>#}
{#              <input id="company" name="company" class="text" />#}
{#            </li>#}
            <li>
              <label for="message">Your Message*</label>
              <textarea id="message" name="message" rows="6" cols="50"></textarea>
            </li>
            <li class="buttons">
              <input type="submit" name="imageField" id="imageField"  value="Send message" class="send" />
              <div class="clr"></div>
            </li>
          </ol>
        </form>
      </div>
      <div class="right">
        <h2> Training</h2>
        <ul>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
            <button><a href="{% url 'pay' %}">Pay</a></button>
{#          <li><a href="#">Style Demo</a></li>#}
{#          <li><a href="#">Blog</a></li>#}
{#          <li><a href="#">Archives</a></li>#}
        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="FBG">
    <div class="FBG_resize">
      <div class="blok2">
        <h2>Our Mission</h2>
        <img src="{% static 'images/recycling-7792185_1280.png' %}" alt="" width="68" height="68" />
        <p>At EcoCircular, our mission is simple yet profound: to provide cutting-edge environmental solutions that promote sustainability, resilience, and prosperity for both present and future generations. </p>
        <p>We believe that by leveraging our expertise and creativity, we can help navigate the complexities of environmental issues while fostering a harmonious relationship between humanity and nature.<br />
          <a href="#">Learn more...</a></p>
      </div>
      <div class="blok">
        <h2>Image <span>Gallery</span></h2>
        <img src="{% static 'images/tree-309046_640.png' %}" alt="" width="68" height="68" /><img src=" {% static 'images/windmills-311837_640.png' %}" alt="" width="68" height="68" /><img src="{% static 'images/recycling-304974_640.png' %}" alt="" width="68" height="68" /> <img src="{% static 'images/plastic-waste-7617451_640.jpg' %}" alt="" width="68" height="68" /><img src="{% static 'images/industry-80956_640.jpg' %}" alt="" width="68" height="68" /><img src="{% static 'images/fbg_7.jpg' %}" alt="" width="68" height="68" />
        <div class="clr"></div>
        <h2>Vision </h2>
        <p>Together, let's shape a sustainable future for generations to come. </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; 2024 <a href="#">EcoCircular</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="http://www.hotwebsitetemplates.net">Martin Amadiva</a></p>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>
